XSLT/schema/CountriesList2xml.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Countries">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="ERCDB.dbo.ViewMSList-Regions-grouped">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ISOCode" type="xsd:string" />
              <xsd:element name="Capital" type="xsd:string" />
              <xsd:element name="ISO3" type="xsd:string" />
              <xsd:element name="ExBMem" type="xsd:int" />
              <xsd:element name="GroupEB" type="xsd:string" />
              <xsd:element name="WHSites" type="xsd:int" />
              <xsd:element name="CountryE" type="xsd:string" />
              <xsd:element name="CountryF" type="xsd:string" />
              <xsd:element name="CountryS" type="xsd:string" />
              <xsd:element name="CountryA" type="xsd:string" />
              <xsd:element name="CountryR" type="xsd:string" />
              <xsd:element name="CountryC" type="xsd:string" />
              <xsd:element name="Long_x0020_Country_x0020_NameE" type="xsd:string" />
              <xsd:element name="Long_x0020_Country_x0020_NameF" type="xsd:string" />
              <xsd:element name="Long_x0020_Country_x0020_NameS" type="xsd:string" />
              <xsd:element name="Long_x0020_Country_x0020_NameA" type="xsd:string" />
              <xsd:element name="Long_x0020_Country_x0020_NameC" type="xsd:string" />
              <xsd:element name="Long_x0020_Country_x0020_NameR" type="xsd:string" />
              <xsd:element name="CodeType" type="xsd:int" />
              <xsd:element name="MembershipDate" type="xsd:dateTime" />
              <xsd:element name="UNESCO" type="xsd:dateTime" />
              <xsd:element name="FactSheet" type="xsd:string" />
              <xsd:element name="GOAP" type="xsd:string" />
              <xsd:element name="CapitalE" type="xsd:string" />
              <xsd:element name="CapitalF" type="xsd:string" />
              <xsd:element name="UNRegionE" type="xsd:string" />
              <xsd:element name="UNRegionF" type="xsd:string" />
              <xsd:element name="UNRegionA" type="xsd:string" />
              <xsd:element name="RegionE" type="xsd:string" />
              <xsd:element name="RegionF" type="xsd:string" />
              <xsd:element name="RegionS" type="xsd:string" />
              <xsd:element name="RegionA" type="xsd:string" />
              <xsd:element name="RegionC" type="xsd:string" />
              <xsd:element name="RegionR" type="xsd:string" />
              <xsd:element name="CountryURL" type="xsd:string" />
              <xsd:element name="Latitude" type="xsd:decimal" />
              <xsd:element name="Longitude" type="xsd:decimal" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
