XSLT/schema/HeadsOfStates2xml.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="HoS">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="ERCDB.dbo.HeadsofStates2xml">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Id" type="xsd:int" />
              <xsd:element name="ISOCode" type="xsd:string" />
              <xsd:element name="ISO3" type="xsd:string" />
              <xsd:element name="Country_name" type="xsd:string" />
              <xsd:element name="Order" type="xsd:int" />
              <xsd:element name="Function" type="xsd:string" />
              <xsd:element name="Name" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
