XSLT/schema/NCList_2_xml.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="NatCom">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="NationalCommission">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Country">
                <xsd:complexType>
                  <xsd:attribute name="xml:lang" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element maxOccurs="unbounded" name="Name">
                <xsd:complexType>
                  <xsd:attribute name="xml:lang" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Address" type="xsd:string" />
              <xsd:element name="Phone" type="xsd:string" />
              <xsd:element name="Fax" type="xsd:decimal" />
              <xsd:element name="Email" type="xsd:string" />
              <xsd:element name="WebsiteNC" type="xsd:string" />
              <xsd:element maxOccurs="unbounded" name="WebsiteUNESCO">
                <xsd:complexType>
                  <xsd:attribute name="xml:lang" type="xsd:string" />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="NCHeads">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="NCHead">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CountryCode" type="xsd:string" />
                          <xsd:element name="NameDel">
                            <xsd:complexType>
                              <xsd:attribute name="xml:lang" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="TitleDel">
                            <xsd:complexType>
                              <xsd:attribute name="xml:lang" type="xsd:string" />
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="Photo" type="xsd:string" />
                        </xsd:sequence>
                        <xsd:attribute name="memberid" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="countryid" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
